#menu{
    position: fixed;
    width: 100vw;
    height: 60px;
    top: 0;
    left: 0;
    background-color: #fffa;
    display: flex;
    justify-content: left;
    align-items: center;
    color: #333;
    z-index: 999;
    backdrop-filter: blur(10px);
}

.button{
    position: relative;
    left: 0;
    height:20px;
    padding: 15px 10px;
    margin: 0 30px;
    border-radius: 10px;
    background-color: #fff0;
    display: flex;
    align-items: center;
    font-weight: bold;
    letter-spacing: 1px;
    /*font-size: 1.5em;*/
}

.button:first-child{
    font-size: 1.5em;
}

.button a{
    transition-duration: 0.4s;
}

.button a:hover{
    color: #111;
    /*font-size: 1.5em;*/
    text-shadow: #000 0 0 20px;
    /*letter-spacing: 2px;*/
}

.button:first-child:hover::after{
    position: absolute;
    right: -0.1em;
    /*content: '!';*/
}

.button a{
    border: none;
}