.tableRow{
    display: flex;
    justify-content: center;
    background-color: #0000;
}

.tableRow div:not(:first-child) {
    border-left: 1px solid #fff5;
}

.tableRow > * {
    padding: 10px 5px;
    height: 2em;
    display: flex;
    align-items: center;
    font-size: 0.8em;
    justify-content: center;
}

.voteName{
    width: 50%;
    justify-content: flex-start;
}

.voteDue{
    font-family: 'Consolas', monospace;
    width: 30%;
    cursor: pointer;
}

.voteButton{
    width: 20%;
}

.header{
    font-weight: bold;
    border-bottom: 1px solid #fff5;
    font-size: unset;
    justify-content: center;
}