{{ template "head.html" .}}
<div class="columns">
    <div class="column" style="flex-grow: 0.5">
        <h1>Привет, {{.username}}!</h1>
    </div>
    <div class="column" style="background-color: #222d; backdrop-filter: blur(100px)">
        <div class="innerBlock">
            <h3>Сейчас тебе доступны следующие голосования:</h3>
            <div class="tableRow">
                <div class="voteName header">Название</div>
                <div class="voteDue header">Доступно до</div>
                <div class="voteButton header"></div>
            </div>
            {{ range .votes }}
            <div class="tableRow">
                <div class="voteName">{{.Name}}</div>
                <div class="voteDue">{{.FinishesAt}}</div>
                <div class="voteButton"><a href="/vote?vote_id={{.ID}}">Принять участие</a></div>
            </div>
            {{ else }}
            <div class="tableRow">
                <div class="no-content">Нет доступных голосований</div>
            </div>
        </div>
    </div>
{{end}}
{{ template "foot.html" .}}